.btn-mode
    display: flex
    align-items: center
    justify-content: space-evenly
    background: none
    box-shadow: none
    border: none
    border-radius: 0
    &:hover
        border-bottom: 2px solid #fff
.post-slider
    display: none
    z-index: 1
    position: absolute
    top: 50%
    left: 50%
    width: 100%
    transform: translate(-50%, -50%)
    &.show
        display: block
    .next, .prev
        position: absolute
        top: 50%
        color: var(--secondary-color)
        cursor: pointer
        &:hover
            color: black
    .next
        right: 25px
    .prev
        left: 25px
    .post-wrapper
        width: 84%
        height: 350px
        margin: 0 auto
        overflow: hidden
        .post
            margin: 0px 10px
            width: 300px
            height: 350px
            display: inline-block  
            cursor: pointer    
            outline: none      
            img
                margin-left: 5%
                width: 90%
                height: 80%
                border-radius: 4em
            h4
                color: var(--secondary-color)
                text-shadow: 7px 7px 0 rgba(0, 0, 0, 0.1)
                font-weight: 600
                font-size: 2.5em
                text-align: center
                padding-bottom: 150px 
                font-family: var(--primary-font-family)
                text-transform: uppercase
.slider-title
    text-align: center
    margin: 30px auto
    font-family: var(--primary-font-family)
    font-size: 4em
    color: var(--secondary-color)
.tabs
    z-index: 3
    position: absolute
    bottom: 0
    left: 0
    width: 100%
    .container
        margin: 0 auto
        max-width: 400px
        display: grid
        grid-template-columns: 1fr 1fr
        grid-gap: 1rem
        align-items: center
        justify-content: center
        text-align: center
        &>div
            color: var(--secondary-color)
            padding: 1.5rem 0
            &:hover
                color: #2b3b57a9
                cursor: pointer
    p
        font-size: 1.6em
        padding-top: .6em
        font-family: var(--primary-font-family)       
.scoreboard
    z-index: 1
    position: absolute
    top: 50%
    left: 50%
    width: 100%
    transform: translate(-50%, -50%)
    display: none
    &.show
        display: block
    .wrapper
        margin-top: -14%
        margin-left: 4%
        user-select: none
    .container
        margin: 25px 0
        font-size: 1.6em
        padding: 20px
        font-weight: 600
        color: var(--secondary-color)
        font-family: var(--primary-font-family)
        width: 500px
        display: flex
        align-items: center
        justify-content: center
        height: 338px
        position: absolute
        left: 50%
        top: 50%
        transform: translate(-50%, -50%)
        overflow-y: scroll
        table
            border-collapse: collapse 
            width: 98%
            position: absolute
            top: 0px
            thead tr
                background-color: var(--table-primary-color)
                color: var(--primary-color)
                
                th:nth-child(1)
                    text-align: center
                    border-bottom-left-radius: 15px
                    border-top-left-radius: 15px
                th:nth-child(2)
                    text-align: center
                    border-bottom-right-radius: 15px
                    border-top-right-radius: 15px
            th, td
                padding: 12px 15px
            tbody tr
                font-weight: 300
                td:nth-child(1)
                    text-align: center
                    border-bottom-left-radius: 15px
                    border-top-left-radius: 15px
                td:nth-child(2)
                    text-align: center
                    border-bottom-right-radius: 15px
                    border-top-right-radius: 15px
                &:hover
                    background-color: var(--table-hover-color)
                    color: var(--primary-color)
                &:nth-of-type(even)
                    background-color: var(--table-secondary-color)
                    color: var(--primary-color)
                    &:hover
                        background-color: var(--table-hover-color)
                        color: var(--primary-color)
                    td:nth-child(1)
                        border-bottom-left-radius: 15px
                        border-top-left-radius: 15px
                    td:nth-child(2)
                        border-bottom-right-radius: 15px
                        border-top-right-radius: 15px
form
    width: 100%
    display: flex
    flex-direction: column
    align-items: center


.field
    width: 35rem
    background-color: transparent
    border: none
    border-bottom: 0.2rem dashed #636363
    margin: 2rem 0
    padding: 1rem 1rem 1rem 0
    font-family: var(--primary-font-family)
    font-size: 1.8rem
    color: #4b4b4b

.field:focus
    border-bottom-style: solid
    outline: none

.input-group
    position: relative

.input-group input
    height: 2rem



.input-group label
    position: absolute
    left: 0
    font-family: var(--primary-font-family)
    font-size: 1.9rem
    color: #4b4b4b
    text-transform: uppercase
    pointer-events: none
    transition: all .4s

.input-label
    bottom: 2rem

.field:focus ~ label
    transform: translateY(-3rem)
    font-size: 1.2rem


.submit-btn
    width: 30rem
    height: 5rem
    background-color: var(--secondary-color)
    color: #fff
    border: none
    margin-top: 2rem
    cursor: pointer
    font-family: var(--primary-font-family)
    font-size: 2rem
    text-transform: uppercase
    letter-spacing: .2rem
    text-shadow: 0 0.5rem 0.5rem rgba(0, 0, 0, 0.3)
       box-shadow: 0 0.5rem 0.5rem rgba(0, 0, 0, 0.3)

.wrapper
    .firstList
        margin-top: 2%
    ul
        list-style: none
        li 
            margin-top: 2px
            background: var(--secondary-color)
            border-radius: 4rem
            width: 350px
            cursor: pointer
            height: 50px
            line-height: 50px
            text-align: center
            float: left
            color: var(--primary-color)
            font-size: 24px
            position: relative
            font-family: var(--primary-font-family)
            text-transform: uppercase
            font-weight: bold
.wrapper ul li:hover
    background: var(--table-secondary-color)
.wrapper ul ul
    display: none
.wrapper ul li:hover > ul
    display: block
.wrapper ul ul ul
    margin-left: 170px
    top: 0
    position: absolute