.section-third{
    display: none;
}

.spinner-container{
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100vh;
    background-color: rgb(130, 154, 225);
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all 1s;
    z-index: 300;
}

.circles{
    width: 8rem;
    height: 8rem;
    
}
.circles div{
    position: relative;
    animation: circles 1s cubic-bezier(.5,0,.4,1) infinite;
    transform-origin: 4rem 4rem;
}

.circles div::after{
    content: "";
    position: absolute;
    width: .7rem;
    height: .7rem;
    border-radius: 50%;
    background-color: #2b3b57;
    margin: -0.4rem 0 0 -0.4rem;
}

.circles div:nth-child(1){
    animation-delay: -0.036s;
}
.circles div:nth-child(2){
    animation-delay: -0.072s;
}
.circles div:nth-child(3){
    animation-delay: -0.108s;
}
.circles div:nth-child(4){
    animation-delay: -0.144s;
}
.circles div:nth-child(5){
    animation-delay: -0.180s;
}
.circles div:nth-child(6){
    animation-delay: -0.216s;
}
.circles div:nth-child(7){
    animation-delay: -0.252s;
}
.circles div:nth-child(8){
    animation-delay: -0.288s;
}

.circles div:nth-child(1)::after{
    top: 6.3rem;
    left: 6.3rem;
}

.circles div:nth-child(2)::after{
    top: 6.8rem;
    left: 5.6rem;
}
.circles div:nth-child(3)::after{
    top: 7.1rem;
    left: 4.8rem;
}
.circles div:nth-child(4)::after{
    top: 7.2rem;
    left: 4rem;
}
.circles div:nth-child(5)::after{
    top: 7.1rem;
    left: 3.2rem;
}
.circles div:nth-child(6)::after{
    top: 6.8rem;
    left: 2.5rem;
}
.circles div:nth-child(7)::after{
    top: 6.4rem;
    left: 1.8rem;
}
.circles div:nth-child(8)::after{
    top: 5.8rem;
    left: 1.2rem;
}

@keyframes circles{
    0%{
        transform:rotate(0);
    }
    100%{
        transform: rotate(360deg);
    }
}
.display .spinner-container{
    opacity: 0;
    visibility: hidden;
}

.display .section-third{
    display: block;
}